# ignore all files
/*
# add files
!/.Xdefaults
!/.bashrc
!/.xprofile
!/.config
/.config/*
!/.config/compton
!/.config/i3
!/.config/nvim
!/.config/termite
!/.config/polybar
!/.config/mpd
/.config/mpd/*
!/.config/mpd/mpd.conf
# delete files
.netrwhist
!.gitignore

