# ignore all files
/*
!/.Xdefaults
!/.bashrc
!/.xprofile
!.gitignore
!dotfiles.sh
#ncmcpp
!/.ncmpcpp
/.ncmpcpp/*
!/.ncmpcpp/config
# .config
!/.config
/.config/*
!/.config/compton
!/.config/i3
!/.config/nvim
!/.config/termite
!/.config/polybar
# mpd
!/.config/mpd
/.config/mpd/*
!/.config/mpd/mpd.conf
# ranger
!/.config/ranger
/.config/ranger/*
!/.config/ranger/rc.conf
!/.config/packagelist
# qutebrowser
!/.config/qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/config.py
!/.config/qutebrowser/settings
# rofi
!/.config/rofi
#/.config/rofi/*
#!/.config/rofi/config.rasi
#!/.config/rofi/*.sh
# delete files
.netrwhist

